<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Amber and Mikhail | January 5, 2019" %></title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>

    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <div class="tc mt5">
      <div class="madina f1 f-5-ns mr4">Amber</div>
      <div class="madina f1 f-5-ns ml4">Mikhail</div>
    </div>
    <%# <nav class="tc mw7 center mt4">
      <a href="/" class="f6 f5-l ttu tracked link black-80 dib pa3 ph4-l">Home</a>
      <a href="" class="f6 f5-l ttu tracked link black-80 dib pa3 ph4-l">RSVP</a>
      <a href="" class="f6 f5-l ttu tracked link black-80 dib pa3 ph4-l">Wedding Party</a>
      <a href="" class="f6 f5-l ttu tracked link black-80 dib pa3 ph4-l">Venue</a>
      <a href="" class="f6 f5-l ttu tracked link black-80 dib pa3 ph4-l">Contact Us</a>
    </nav> %>
    <%= yield %>
  </body>
</html>
